#content {
    font-family: Arial, Helvetica, sans-serif;
}

#act-bar {
    background-color: lightgrey;
    padding: 10px;
    box-shadow: 0.5px 0.5px 8px 0.1px rgb(51, 51, 51);
}

#act-text {
    width: 450px;
    height: 25px;
    padding: 2.5px 5px;
    border: 1px solid black;
    border-radius: 2.5px;
    font-size: 15px;
    font-style: italic;
    color: grey;
}

#act-cron {
    display: inline-block;
    text-align: center;
    width: 100px;
}

#row-btn {
    display: inline-block;
}

#act-toggle-btn, #act-save-btn {
    width: 100px;
    font-size: 15px;
    padding: 5px;
}

#act-toggle-btn {
    background-color: green;
    border: 2px solid green;
    border-radius: 2.5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#act-save-btn {
    cursor: not-allowed;
}

#act-toggle-btn:hover {
    box-shadow: 0px 0px 2.5px 0px rgb(51, 51, 51);
}

#saved-act-times {
    padding: 10px;
}

.saved-activity {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(240, 240, 240);
    margin-bottom: 5px;
}

.saved-activity .info {
    margin: 5px;
    padding: 5px 7.5px;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
    border-radius: 5px;
    display: inline-block;
}